Codigo/Cliente/wsCliente/src/prendapps/RequestEJBBeanService1.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:ns0="http://prendapps/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://prendapps/">
  <xsd:complexType name="closeConection">
    <xsd:sequence>
      <xsd:element name="arg0" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="closeConectionResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="commit">
    <xsd:sequence>
      <xsd:element name="arg0" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="commitResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getConnection"/>
  <xsd:complexType name="getConnectionResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getLineRquests"/>
  <xsd:complexType name="getLineRquestsResponse">
    <xsd:sequence>
      <xsd:element name="return" type="ns0:lineRequest" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getRequests"/>
  <xsd:complexType name="getRequestsResponse">
    <xsd:sequence>
      <xsd:element name="return" type="ns0:request" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="hola"/>
  <xsd:complexType name="holaResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="insertLineRequest">
    <xsd:sequence>
      <xsd:element name="arg0" type="ns0:lineRequest" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="insertLineRequestResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="insertRequest">
    <xsd:sequence>
      <xsd:element name="arg0" type="ns0:request" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="insertRequestResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="removeLineRequest">
    <xsd:sequence>
      <xsd:element name="arg0" type="ns0:lineRequest" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="removeLineRequestResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="removeRequest">
    <xsd:sequence>
      <xsd:element name="arg0" type="ns0:request" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="removeRequestResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="updateLineRequest">
    <xsd:sequence>
      <xsd:element name="arg0" type="ns0:lineRequest" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="updateLineRequestResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="updateRequest">
    <xsd:sequence>
      <xsd:element name="arg0" type="ns0:request" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="updateRequestResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="lineRequest">
    <xsd:sequence>
      <xsd:element name="garment" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="garmentSize" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="lineId" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="quantity" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="requestId" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="unitPrice" type="xsd:double"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="request">
    <xsd:sequence>
      <xsd:element name="client" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="deliverDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="id" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="requestDate" type="xsd:dateTime" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="closeConection" type="ns0:closeConection"/>
  <xsd:element name="closeConectionResponse" type="ns0:closeConectionResponse"/>
  <xsd:element name="commit" type="ns0:commit"/>
  <xsd:element name="commitResponse" type="ns0:commitResponse"/>
  <xsd:element name="getConnection" type="ns0:getConnection"/>
  <xsd:element name="getConnectionResponse" type="ns0:getConnectionResponse"/>
  <xsd:element name="getLineRquests" type="ns0:getLineRquests"/>
  <xsd:element name="getLineRquestsResponse" type="ns0:getLineRquestsResponse"/>
  <xsd:element name="getRequests" type="ns0:getRequests"/>
  <xsd:element name="getRequestsResponse" type="ns0:getRequestsResponse"/>
  <xsd:element name="hola" type="ns0:hola"/>
  <xsd:element name="holaResponse" type="ns0:holaResponse"/>
  <xsd:element name="insertLineRequest" type="ns0:insertLineRequest"/>
  <xsd:element name="insertLineRequestResponse" type="ns0:insertLineRequestResponse"/>
  <xsd:element name="insertRequest" type="ns0:insertRequest"/>
  <xsd:element name="insertRequestResponse" type="ns0:insertRequestResponse"/>
  <xsd:element name="removeLineRequest" type="ns0:removeLineRequest"/>
  <xsd:element name="removeLineRequestResponse" type="ns0:removeLineRequestResponse"/>
  <xsd:element name="removeRequest" type="ns0:removeRequest"/>
  <xsd:element name="removeRequestResponse" type="ns0:removeRequestResponse"/>
  <xsd:element name="updateLineRequest" type="ns0:updateLineRequest"/>
  <xsd:element name="updateLineRequestResponse" type="ns0:updateLineRequestResponse"/>
  <xsd:element name="updateRequest" type="ns0:updateRequest"/>
  <xsd:element name="updateRequestResponse" type="ns0:updateRequestResponse"/>
</xsd:schema>